<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save any kind of movies </h1>
    <p>Classic</p>
  </div>
</div>
<div class="container">

    <% @lists.each do |l| %>

        <div class="card-white" >
            <% if l.photo.attached? %>
          <%= cl_image_tag l.photo.key, height: 75, width: 100, crop: :fill %>
          <% else  %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png" alt="">
          <% end %>
              <p><%= link_to l.name, list_path(l), class:"btn-done" %></p>
        </div>
    <% end %>
</div>
</ul><%= link_to "Add a new list", new_list_path  %>
